* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  
  body {
    background-color: #FFEBEB;
    font-family: "Lato", sans-serif;
  }
.movie-info{
    
  }

  #updateForm{
    display: flex;
  }

  input,
  span,
  label,
  textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
  }
  #reviewText{
    resize: none;
    padding: 10px;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
  }

  .movie_rating{
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
  }
  p{
    font-size: 18px; ;
  }
  input[type="text"]{
    font-size: 24px;
    font-family: Arial;
    border-radius: 8px;
    resize: none;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
    height: 40px;
    min-height: 40px;
    width: 400px;
    min-width: 400px;
    margin-bottom: 15px;
  }

  button {
    background-color: #373737;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin-right: 10px;
    
    cursor: pointer;
  }
button:hover {
  background-color: red;
}

.moviePhoto{
    size: 15cm;
    height: 50%;
    width: 50%;
  }

.movie_desc{
    font-size: larger;
}

.realPhoto{
    size: 12cm;
}

.movie_year{
    font-size: larger;
}